.billet-ver {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.billet-ver__img {
  width: 250px;
  height: 153px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  display: block;
}
.billet-ver__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
  background-color: #27273e;
}
.billet-ver__img span {
  z-index: 10;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #5dd1f8;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
}
.billet-ver__img b {
  color: #ec1e79;
}
.billet-ver__desc {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #221f1f;
  padding: 20px 10px 45px;
}
.billet-ver__title {
  font-size: 18px;
  margin-bottom: 4px;
}
.billet-ver__text {
  font-weight: 300;
  line-height: 1.5;
}