.buttons {
  display: flex;
}
.buttons__res, .buttons__sub {
  padding: 13px 20px;
  background-color:#27273e;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  letter-spacing: 2.4px;
}
.buttons__res {
  margin-right: 7px;
}