.contacts {
  text-align: right;
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.contacts__phone {
  display: block;
  font-size: 21px;
  color: #fff;
}
.contacts__days {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ec1e79;
  margin-bottom: 8px;
}
.contacts__rest {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  font-weight: 300;
  color: #221f1f;
}