.contacts {
  text-align: right;
}
.contacts__phone {
  display: block;
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
}
.contacts__hours {
  display: block;
  color: rgba(236, 30, 121, 0.7);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}