.nav {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ec1e79;
  padding-bottom: 17px;
  display: flex;
}
.nav--main {
  width: 41%;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav__item {
  transition: .6s;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 37px;
  margin-right: 94px;
}
.nav--main .nav__item {
  color: #fff;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../../img/sprite-nav.png');
  transition: .6s;
}
.nav__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../../img/sprite-nav.png');
  transition: .6s;
  opacity: 0;
}
.nav__item--active:before {
  opacity: 0;
}
.nav__item--active::after {
  opacity: 1;
}
.nav__item--active {
  color: #000000;
}
.nav--main .nav__item--active {
  color: #ec1e79;
}
.nav__item:hover {
  color: #000000;
}
.nav--main .nav__item:hover {
  color: #ec1e79;
}
.nav__item:hover:before {
  opacity: 0;
}
.nav__item:hover:after {
  opacity: 1;
}
.nav__link {
  display: flex;
  align-items: center;
}
.nav__item--main::before {
  width: 17px;
  height: 15px;
  background-position: -10px -86px;
}
.nav--main .nav__item--main::before {
  width: 17px;
  height: 15px;
  background-position: -10px -86px;
}
.nav__item--feed::before {
  width: 20px;
  height: 18px;
  background-position: -10px -48px;
}
.nav--main .nav__item--feed::before {
  width: 20px;
  height: 18px;
  background-position: -10px -10px;
}
.nav__item--tariff::before {
  width: 19px;
  height: 16px;
  background-position: -90px -10px;
}
.nav--main .nav__item--tariff::before {
  width: 19px;
  height: 16px;
  background-position: -50px -48px;
}
.nav__item--main::after {
  width: 17px;
  height: 15px;
  background-position: -47px -86px;
}
.nav--main .nav__item--main::after {
  width: 17px;
  height: 15px;
  background-position: -10px -86px;
}
.nav__item--feed::after {
  width: 20px;
  height: 18px;
  background-position: -50px -10px;
}
.nav--main .nav__item--feed::after {
  width: 20px;
  height: 18px;
  background-position: -10px -48px;
}
.nav__item--tariff::after {
  width: 19px;
  height: 16px;
  background-position: -90px -46px;
}
.nav--main .nav__item--tariff::after {
  width: 19px;
  height: 16px;
  background-position: -90px -10px;
}