.network {
  font-weight: bold;
  text-align: center;
  color: #221f1f;
}
.network h5 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 13px;
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
}
.network__item {
  display: inline-block;
  /* margin-right: 6px; */
  position: relative;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: .7s;
  cursor: pointer;
}
.network__item:last-child {
  margin-right: 0;
}
.network__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url('../../img/sprite-network.png');
}
.network__item--vk::after {
  background-position: -41px -39px;
  width: 12px;
  height: 7px;
}
.network__item--fb::after {
  background-position: -77px -10px;
  width: 6px;
  height: 13px;
}
.network__item--google::after {
  background-position: -10px -10px;
  width: 15px;
  height: 9px;
}
.network__item--tw::after {
  background-position: -10px -39px;
  width: 11px;
  height: 9px;
}
.network__item--mail::after {
  background-position: -45px -10px;
  width: 12px;
  height: 9px;
}
.network__item:hover {
  background-color: #ec1e79;
}
.network__ref {
  display: block;
}