.network {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #221f1f;
}
.network h5 {
  margin: 0;
  margin-bottom: 13px;
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
}
.network__item {
  display: inline-block;
  /* margin-right: 6px; */
  position: relative;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: .7s;
  cursor: pointer;
}
.network__item:last-child {
  margin-right: 0;
}
.network__item:hover {
  background-color: #ec1e79;
}
.network__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}