.partners {
  width: 96%;
  padding: 25px 63px 0 63px;
  border: solid 1px #e8e9ed;
  margin-bottom: 22px;
}
.partners__title {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  margin-bottom: 37px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #221f1f;
  text-transform: uppercase;
}
.partners__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.partners__item {
  /* padding: 30px 0 22px; */
  cursor: pointer;
  margin-bottom: 35px;
}