.partners {
  padding-top: 7px;
}
.partners__title {
  margin-bottom: 42px;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
}
.partners__item {
  width: calc(100% /3 - 25px);
  padding: 30px 0;
}