.stock {
  background-color: #27273e;
  padding: 30px 10px;
  background-image: url('../../img/pattern.png');
  text-align: center;
  margin-bottom: 29px;
}
.stock p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  color: #ffffff;
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
}
.stock b {
  font-weight: bold;
  color: #ec1e79;
}