.tariffs {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
}
.tariffs__title {
  margin-bottom: 44px;
}
.tariffs__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tariffs__item {
  width: calc(100% /3 - 15px);
}